* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  background-color: #f9fafb;
}

body, #root {
  height: 100%;
  overflow: hidden;
  background-color: #f9fafb;
}